
body{
    background-color: ;
}

.container{
    height:100%;
    width:100%;
    position:absolute;
}
.form-box{
    width:600px;
    height:540px;
    position : relative;
    margin:8% auto;
    background-color:white;
    margin-left:35%;
    box-shadow: 5px 5px 5px 5px rgba(68, 68, 68, 0.6);
    border-radius: 30px;

}
.login{
    width:600px;
    height:100%;
    display: inline-block;
  vertical-align: top;
  line-height: 1;
}


#back{
    margin-top:175px;
    height:100%;
    width:275px;
}
#back h1{
    font-weight:200;
    
}
#back p{
    font-family: montserrat;
    font-size:20px;
}


.login-form h1{
    text-align: center;
/*
    background: -webkit-linear-gradient(120deg,#3498db,#8e44ad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
*/
    font-size:2.5em;
    color: black !important;
  }
  .txtb{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 70px 0;
  }
  
  .txtb input{
    font-size: 20px;
    color: #333;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 5px 15px;
    height: 30px;
  }
  
  
  .logbtn{
    display: block;
    width: 200px;
    height: 50px;
    border-radius:10%;
    background: crimson;
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
    margin-left:200px;
    text-align:center;

  }
  
  .logbtn:hover{
    background-position: right;
  }
  
  .bottom-text{
    margin-top: 60px;
    text-align: center;
    font-size: 13px;

  }