*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

body{
    overflow-x: hidden;
}

.hidden{
    display: none;
}

.burger{
    padding: 1em;
    cursor: pointer;
    z-index: 2;
}

.burger div{
    width: 2em;
    height: 0.2em;
    margin: 0.3em;
    background-color: black;
    transition: 1s ease-in-out;
}

.catogories{
    position: absolute;
    top: 0;
    padding-top: 5em;
    left: 0;
    padding-left: 15%;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: 1s ease;
    background-color: white;
    z-index: 1;
}

.catogories-active{
    transform: translateX(0%);
}

.burger-active .line1{
    transform: rotate(-45deg) translate(-0.055em,0.7em);
}

.burger-active .line2{
    opacity: 0;
}

.burger-active .line3{
    transform: rotate(45deg) translate(-0.055em,-0.7em);
}

.catogories-links{
    list-style: none;
    z-index: 2;
}

.catogories-links li{
    font-family: "Oswald",sans-serif;
    font-size: 3.15em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.075em;
    margin: 0.25em 0em;
    transition: 0.4s ease;
    cursor: pointer;
}

.catogories-links li:hover{
    color: white;
    font-size: 4em;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

.logo{
    position: absolute;
    transform: translateX(45vw);
    z-index: 2;
}

.customer-section{
    display: flex;
    justify-content: space-around;
    list-style: none;
    z-index: 2;
}

.customer-section li{
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.customer-section-hidden{
    display: none;
}

.section-divider{
    width: 50vw;
}

.promo{
    height: 80vh;
    background: url('bose.jpg'),rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10% 10%;
    text-transform: uppercase;
    color: white;
}

.promo h3{
    font-size: 4em;
}

.promo img{
    width: 100px;
    height: auto;
}

.promo h4{
    font-size: 2em;
}

@media screen and (max-width:768px){
    .catogories{
        padding-left: 10%;
    }
    
    .customer-section{
        display: none;
    }

    .customer-section-hidden{
        display: block;
    }
    
    .catogories-links li{
        font-size: 2em;
    }

    .catogories-links li:hover{
        font-size: 2.25em;
    }

    .logo{
        transform: translateX(32.5vw);
    }

    .promo h3{
        font-size: 3.5em;
    }

    .promo h4{
        font-size: 1.5em;
    }
}

.promo img{
    max-width: 100%;
    height: auto;
}


.cards{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(-10vh);
}

.card-section{
    margin: 0;
    padding: 0;
    background-color: grey;
}

.card-section h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
    transform: translateY(-3vw);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 1em;
    padding: 1em;
    width: 30em;
    height: 25em;
    background: url('card.png');
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    transition: 0.3s ease-in;
}

.card:hover{
    background-color: rgba(0,0,0,0.5);
}

.card h3{
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Oswald',sans-serif;
    font-size: 2em;
}

@media screen and (max-width:768px){
    .cards{
        transform: translateY(-2.5vh);
    }

    .card{
        height: 10em;
        margin: 0.25em 0.5em;
    }
}

.offers{
    background-color: #021132;
}
.offers .cards{
    transform: translateY(0);
}

.offers .card{
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('offer.png');
}

.offers h3{
    padding: 1em;    
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    color: white;
}

body {
    font-family: Arial;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .openBtn:hover {
    background: #bbb;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }
  
  .overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
