<!DOCTYPE html>

<html lang="en">
<head>
	<meta name="viewport" content="width-device-width initial-scale=1 shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			<link rel="stylesheet" type="text/css" href="./css/style1.css">
			<link rel="icon" type="image/png" href="">
	<title>Join Us
	</title>
</head>
<body >
	<div class="container">
		<div class="form-box" >
			<div class="login">
				<form  class="login-form" method="POST" action="/login">
					<h1>Login</h1>
			         <%- include ("./partials/messages") %>
					<div class="txtb">
					   <input type="text" placeholder="Email" name="email" value="<%= typeof email !='undefined' ? email:'' %>">
					</div>			
					<div class="txtb">
					  <input type="password" placeholder="Password" name="password" value="<%= typeof password !='undefined' ? password:'' %>">
<!--so bsically what this does is when form doesnt pass the validation then it fills the fields automatically with the previous enteries so the form is not completely blank-->
		
					</div>
			
					<input type="submit" class="logbtn" value="LOGIN">
			
					<div class="bottom-text">
					  Don't have account? <a href="./signup">Sign up</a>
					</div>
			
				  </form>
			</div>
			
		</div>
	</div>

</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
