<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Shopping Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li> 
    </ul>
    <li class="form-inline my-2 my-lg-0"><a class="nav-link" href="/shoppingCart">Shopping Cart
        <span class="badge">  </span>
        </a>
    </li>
     <li class="dropdown">                       
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> User <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <% if (loggedIn) { %>
                            <li>
                                <a href="profile">User Profile</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="logout">Logout</a></li>
                        <%} else { %>
                            <li><a href="signup">SignUp</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="login">SignIn</a></li>
                        <% } %>
                    </ul>
                </li>
  </div>
</nav>
        <br>
        <div class="row">
	       <div class="col-md-8 col-md-offset-2">
		  <h1>User Profile</h1>
		  <hr>
		  <h2>My orders</h2>
		  <% for(var i=0; i < orders.length; i++){ %>
			<div class="panel panel-default">
			  	<div class="panel-body">
			    	<ul class="list-group">
			    		<% for(var j=0; j < orders[i].items.length; j++){ %>
					  		<li class="list-group-item">
					    		<span class="badge"><%= orders[i].items[j].price%></span>
					    		<%=orders[i].items[j].item.title%> | <%= orders[i].items[j].qty%> Units
					  		</li>
					  	 <% } %>
					</ul>
			  	</div>
			  	<div class="panel-footer">Total Price : <%= orders[i].cart.totalPrice%></div>
			</div>
		 <% } %>
	</div>
</div>
    </body>
</html>