  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Home</title>
    <style>
        h1{
            color:white;
            text-align:center;
            padding-top:150px;
            font-size:4em;
            padding-bottom: 50px;
        }
        a{
            margin-left:45%;
        }
        a+a{
            margin:10px
        }
    </style>
</head>
<body style="background-color: crimson">

    
        <h1>JOIN US</h1>
        <a class="btn btn-outline-light" href="./login" role="button">Login</a>
        <a class="btn btn-outline-light" href="./signup" role="button">Signup</a>
    
    
</body>
</html>